
<style>
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

body {
  font: 12px Arial;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.y.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis path { 
  display: none;
}

.y.axis .minor {
  stroke-opacity: .5;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

</style>
<div class="flex-row">
    <span ng-model="symbol">n/a</span>
    <br>
    <!--<span ng-model="string-close">n/a</span>-->
    <div><svg id="graph"></svg></div>
</div>