
<style>
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

body {
  font: 12px Arial;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.y.axis line {
  
  stroke: none;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis path { 
  display: none;
}

.y.axis .minor {
  stroke-opacity: .5;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

</style>
<div class="ticker-box">

    <div class="ticker-header">
      <span class="subtitle align-left"><a href="https://www.google.com/finance?q={{symbol}}">{{symbol}}</a></span>
      <span class="close align-right">${{close | number:2}}</span>
    </div>
    <br>
    <!--<span ng-model="string-close">n/a</span>-->
    <div><svg class='graph' id='id-test'></svg></div>
</div>