<section class="splash-bg">
  <div class="small-12 columns">
    <h1 class="text-centered" style="color: white;">Log In to your Account.</h1>
  </div>

  <div class="small-12 columns">
    <h5 class="text-centered" style="color: white;">Don't have an account?
      <a ng-href="#/">Sign up</a></h5>
  </div>
  <div class="small-12 columns empty-pad-main">

  </div>

  <form>
  <div class="small-12 columns">

    <div class="small-12 medium-3 medium-offset-2 columns">
      <input type="text" placeholder="Email" ng-model="username">
    </div>
    <div class="small-12 medium-3 columns">
      <input type="password" placeholder="Password" ng-model="password">
    </div>
    <div class="small-12 medium-2 end columns">
      <a ng-href="#/" class="button postfix">Login</a>
    </div>
    <div>
      {{$rootScope.message}}
    </div>

  </div>
  </form>
</section>
