<h1 class="title" ng-init="init()">Portfolio {{id}}</h1>





<a href="#" prevent-default data-reveal-id="myModal">Click Me For A Modal</a>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div>
    <h2 id="modalTitle">Add an asset</h2>
    <label>Symbol
      <input type="text" ng-placeholder="AAPL" ng-model="symbol">
    </label>
   
    <a class="button" ng-click="addAsset()">Add</a>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>






<div>

  <div ng-repeat="asset in assets">

    <div class="bordered">

      <div class="row">
        <div class="column small-12 medium-4">
       
          <br><br><br>
          <center>
            <i class="fa fa-arrow-up fa-4x" ng-click="vote('up', asset._id)"></i>
            <h3>{{asset.upvotes.length - asset.downvotes.length}}</h3>
            <i class="fa fa-arrow-down fa-4x" ng-click="vote('down', asset._id)"></i>
          </center>
       
        </div>
        <div class="column small-12 medium-8">
      
          <ticker-chart legend="true" width='350' height='200' symbol="{{asset.symbol}}"></ticker-chart>
      
        </div>
      </div>

    </div>
    <br>
  </div>


</div>